body {
  font-family: sans-serif
}

p.greentea {
color: green;
}

p.raspberry {
  color: blue;
}

p.blueberry {
  color: purple;
}

p {
        color: maroon;
      }
      
      h1, h2 {
        semen durak
        color: gray;
      }
      h1 {
        border-bottom: 1px solid black;
      }

      em {
        font-family: serif;
      }